        <nav class="navbar navbar-default navbar-fixed-top nav">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <div class="nav-logo">
                            <a href="/">
                                <img src="https://lh3.googleusercontent.com/4UvIeTsZp-bLg7Rp02v736Ybt1XLvEC-atG-WUzXKFDkJoKnZtdW_Fudlz3rfON7TjzP7ku-pFVUDyYh3iJH6tBN">
                            </a>
                            
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="search-container">
                            <input class="form-control" style="background: #f9f9f9" type="text" placeholder="Search..." />
                        </div>
                        
                    </div>

                </div>
            </div>

        </nav>