<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>


    <body>
        {{>nav}}

        <div class="container main">            
            <div class="row">
                <!-- <h1>{{confirmation}}</h1> -->
                <div class="col-md-8 col-md-offset-2">
                    <div style="text-align:center">
                        <h2>Something Went Wrong</h2>
                        <p>
                            {{message}}
                        </p>
                    </div>
                    
                </div>
            </div>  
        </div>
    </body>
</html>