<!DOCTYPE html>
<html>
    <head>
    	{{>head}}
    </head>


    <body>
        {{>nav}}

        <div class="container main">        	
        	<div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        
                        <div class="col-mid-4">
                            <img class="profile_icon" src="{{user.profile_pic_url}}">
                        </div>

                        <div class="col-mid-8">
                            <h1 class="header">{{user.username}}</h1>

                            <div class="row">
                                <div class="col-md-2">
                                    <strong>{{user.media.count}}</storng><span> posts</span>
                                </div>
                                <div class="col-md-2">
                                    <strong>{{user.followed_by.count}}</storng><span> followers</span>
                                </div>
                                <div class="col-md-2">
                                    <strong>{{user.follows.count}}</storng><span> followings</span>
                                </div>

                            </div>
                            <p style="margin-top: 24px">
                                {{user.biography}}
                            </p>
                        </div>
                    </div>    

                        
                    <div class="row">
                        {{#user.media.nodes}}
                        <div class="col-md-4">
                            <div class="post">
                                <img src="{{thumbnail_src}}" />
                            </div>
                            
                        </div>
                        {{/user.media.nodes}}

                    </div>

                </div>


        	    
        	</div>	
        </div>
    </body>
</html>