<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

    </head>


    <body>
        <div class="container">
        	<h1>{{user.full_name}}</h1>
        	<div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">


                        {{#user.media.nodes}}
                        <div class="col-md-4">
                            <div style="padding:12px">
                                <img style="width:100%" src="{{thumbnail_src}}" />
                            </div>
                            
                        </div>
                        {{/user.media.nodes}}

                    </div>

                </div>


        	    
        	</div>	
        </div>
    </body>
</html>