<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>


    <body>
        {{>nav}}

        <div class="container main">            
            <div class="row">
                <div class="col-md-8 col-md-offset-2">                   
                    <div class="post-container">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="{{display_src}}">
                            </div>
                            <div class="col-md-5">
                                <div style="padding:24px 24px 24px 0px">
                                    <p>
                                        <img src="{{user.profile_pic_url}}"/>
                                        {{user.username}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                        
                </div>
            </div>  
        </div>
    </body>
</html>