<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>


    <body>
        {{>nav}}

        <div class="container main">            
            <div class="row">
                <!-- <h1>{{confirmation}}</h1> -->
                <div class="col-md-8 col-md-offset-2">
                    <!-- <img src="{{post.data.thumbnail_src}}"> -->
                    <div class="row">
                        <div class="col-md-12">
                            SHOW POST INFO HERE!
                            <!-- <p>{{data.id}}</p> -->
                            <div class="post-container">
                                <img src="{{display_src}}">

                            </div>
                        </div>

                    </div>
                </div>
            </div>  
        </div>
    </body>
</html>