<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>


    <body>
        {{>nav}}

        <div class="container main">            
            <div class="row">
                <div class="col-md-8 col-md-offset-2">                   
                    <div class="post-container">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="{{display_src}}">
                            </div>
                            <div class="col-md-5">
                                <div class="post-detail">
                                    <p>
                                        <img src="{{user.profile_pic_url}}"/>
                                        {{user.username}}
                                    </p>

                                    <hr/>
                                    <p>{{caption}}</p>
                                    <hr/>
                                    <div style="text-align:right">
                                        <strong>{{likes.count}}</strong><span> likes</span>
                                        <span style="margin-left:16px;margin-right-16px">|</span>

                                        <strong>{{comments.count}}</strong><span> comments</span>

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        

                    </div>
                        
                </div>
            </div>  
        </div>
    </body>
</html>